.header{
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 3.5rem;
  border-bottom: 2px solid hsl(0, 0%, 95%);
}

h5{
  font-weight:400;
}

.themeContainer{
  display: flex;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
}

.themeContainer img{
  width: 32px;
  cursor: pointer;
}

.theme{
  background-color: #1a1919 !important;
  color: white !important;
}

@media screen and (max-width: 600px) {
  .header{
    padding-inline: 2rem;
  }
}