.search{
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 3rem;
}

.searchInput, #filter{
    height: 2.5rem;
    padding-inline: 1rem;
    border-radius: 8px;
    outline: none;
    background: #fff;
    color: #858585;
    border: 1px solid #ffffff;
    box-shadow: 1px 1px #e6e6e6;
}
.searchInput{
    width: 18rem;
}

@media screen and (max-width: 560px){
    .search{
        height: 18vh;
        display: block;
        padding-block: 1rem;
        padding-inline: 2rem

    }
    .searchInput{
        margin-bottom: 1rem;
    }
}